.desktop-header {
  display: flex;
  padding: 12px 0;
  align-items: center;
  justify-content: space-between;
}

.desktop-logo-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.desktop-logo-link:visited {
  color: #fff;
}

.desktop-logo-link:hover {
  color: #fff;
}

.desktop-logo {
  margin-right: 25px;
  width: 65px;
  height: 65px;
}

.desktop-name {
  font-size: 16px;
}

.desktop-description {
  font-size: 12px;
  font-weight: 300;
}

.desktop-menu-list {
  display: flex;
  gap: 48px;
  list-style: none;
  text-align: right;
}

.desktop-menu-item {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.desktop-menu-item:visited {
  color: #fff;
}

.desktop-menu-item:hover {
  text-shadow: 0 0 10px #0ff;
}
