.songs-lyrics-switch {
  width: 100%;
}

.songs-lyrics-switch .buttons {
  width: 100%;
  display: flex;
}

.songs-lyrics-switch .buttons .element {
  width: 48%;
  display: flex;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
}

.songs-lyrics-switch .line {
  height: 2px;
  background: white;
  width: 50%;
  transition: 0.25s ease;
}

.song-list {
  width: 100%;
  padding: 10px 0;
}
