.new-album {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "img" "info";
  align-items: center;
  margin-bottom: 25px;
}

.new-album__wrapper:first-child {
  grid-area: info;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "services services" "title title" "text text" "button social";
  align-items: center;
  justify-items: start;
}

.new-album__wrapper:last-child {
  grid-area: img;
}

.new-album__title {
  grid-area: title;
}

.new-album__text {
  grid-area: text;
  margin: 0 0 15px 0;
}

.new-album__image {
  grid-area: image;
  box-shadow: 0 0 50px 0 #0ff;
  margin: 23px 0;
}

.new-album__button {
  grid-area: button;
}

.new-album .social-networks__list.social {
  grid-area: social;
  margin-left: auto;
}

.new-album .social-networks__list.services {
  grid-area: services;
  margin: 0 0 10px 0;
}

@media (min-width: 768px) {
  .new-album {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "img info";
    grid-gap: 0 7.5%;
    margin-top: 80px;
  }

  .new-album__text {
    margin-bottom: 32px;
    max-width: 75%;
  }

  .new-album__image {
    margin: 0;
  }

  .new-album .social-networks__list.social {
    margin-top: 15px;
  }

  .new-album__wrapper:first-child {
    grid-template-columns: 1fr;
    grid-template-areas: "services" "title" "text" "button" "social";
    align-items: center;
    justify-items: start;
  }
}

.title {
  padding: 0;
  margin: 0 0 12px 0;
  font-size: 36px;
  font-weight: normal;
}

.text {
  font-size: 16px;
  padding: 0;
  margin: 0 0 12px 0;
}

.button {
  display: inline-block;
  padding: 5px 20px 6px;
  color: #ffffff;
  font-size: 16px;
  text-transform: lowercase;
  text-decoration: none;
  line-height: 1;
  background: none;
  border: solid 3px #ffffff;
  cursor: pointer;
}

.button:visited {
  color: #ffffff;
}

.button:hover {
  color: #ffffff;
  box-shadow: 0 0 10px #00ffff;
}

.image {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .title {
    font-size: 6vw;
  }

  .text {
    font-size: 1.5vw;
  }

  .button {
    font-size: 18px;
  }

  .lyrics {
    column-count: 2;
    column-gap: 5%;
  }
}
